<div class="navigation">
  <button class="navigation__button navigation__button_prev" type="button" title="Prev">
    <svg>
      <use xlink:href="#arrow" />
    </svg>
  </button>
  <button class="navigation__button navigation__button_next" type="button" title="Next">
    <svg>
      <use xlink:href="#arrow" />
    </svg>
  </button>
</div>