{{!-- todo: сделать звездочки с любым % рейтинга --}}

<div class="rating">
  <ul class="rating__stars">
    <li>
      <svg>
        <use xlink:href="#starred" />
      </svg>
    </li>
    <li>
      <svg>
        <use xlink:href="#starred" />
      </svg>
    </li>
    <li>
      <svg>
        <use xlink:href="#starred" />
      </svg>
    </li>
    <li>
      <svg>
        <use xlink:href="#starred" />
      </svg>
    </li>
    <li>
      <svg>
        <use xlink:href="#unstarred" />
      </svg>
    </li>
  </ul>
  <span class="rating__count">12</span>
</div>